In [1]:
import pandas as pd
import numpy as np

In [2]:
crime=pd.read_hdf('data/crime.h5','crime')

In [3]:
crime.head()

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,REPORTED_DATE,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
0,traffic-accident-dui-duid,traffic-accident,2014-06-29 02:01:00,-105.000149,39.745753,cbd,0,1
1,vehicular-eluding-no-chase,all-other-crimes,2014-06-29 01:54:00,-104.884660,39.738702,east-colfax,1,0
2,disturbing-the-peace,public-disorder,2014-06-29 02:00:00,-105.020719,39.706674,athmar-park,1,0
3,curfew,public-disorder,2014-06-29 02:18:00,-105.001552,39.769505,sunnyside,1,0
4,aggravated-assault,aggravated-assault,2014-06-29 04:17:00,-105.018557,39.679229,college-view-south-platte,1,0

In [4]:
crime.describe()

             GEO_LON        GEO_LAT       IS_CRIME     IS_TRAFFIC
count  457296.000000  457296.000000  460911.000000  460911.000000
mean     -104.949973      39.726061       0.728668       0.271855
std         1.243537       0.471636       0.444648       0.444916
min      -105.300593       0.000001       0.000000       0.000000
25%      -105.009524      39.706890       0.000000       0.000000
50%      -104.982722      39.739285       1.000000       0.000000
75%      -104.929727      39.757689       1.000000       1.000000
max        -0.000002      39.904311       1.000000       1.000000

In [5]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 460911 entries, 0 to 460910
Data columns (total 8 columns):
OFFENSE_TYPE_ID        460911 non-null category
OFFENSE_CATEGORY_ID    460911 non-null category
REPORTED_DATE          460911 non-null datetime64[ns]
GEO_LON                457296 non-null float64
GEO_LAT                457296 non-null float64
NEIGHBORHOOD_ID        460911 non-null category
IS_CRIME               460911 non-null int64
IS_TRAFFIC             460911 non-null int64
dtypes: category(3), datetime64[ns](1), float64(2), int64(2)
memory usage: 22.9 MB

In [6]:
crime=crime.set_index("REPORTED_DATE")

In [7]:
crime.head()

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2014-06-29 02:01:00,traffic-accident-dui-duid,traffic-accident,-105.000149,39.745753,cbd,0,1
2014-06-29 01:54:00,vehicular-eluding-no-chase,all-other-crimes,-104.884660,39.738702,east-colfax,1,0
2014-06-29 02:00:00,disturbing-the-peace,public-disorder,-105.020719,39.706674,athmar-park,1,0
2014-06-29 02:18:00,curfew,public-disorder,-105.001552,39.769505,sunnyside,1,0
2014-06-29 04:17:00,aggravated-assault,aggravated-assault,-105.018557,39.679229,college-view-south-platte,1,0

In [8]:
crime.loc['2016-05-12 16:45:00'].shape[0]

3

In [9]:
crime.loc['2016-05-12'].shape[0]

243

In [10]:
crime.loc['2016-05'].shape[0]

8012

In [11]:
crime.loc['Dec 2015'].sort_index().head()

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2015-12-01 00:48:00,drug-cocaine-possess,drug-alcohol,-104.891681,39.740155,east-colfax,1,0
2015-12-01 00:48:00,theft-of-motor-vehicle,auto-theft,-104.891681,39.740155,east-colfax,1,0
2015-12-01 01:00:00,criminal-mischief-other,public-disorder,-104.993574,39.739773,civic-center,1,0
2015-12-01 01:10:00,traf-other,all-other-crimes,-104.995496,39.725618,baker,1,0
2015-12-01 01:10:00,traf-habitual-offender,all-other-crimes,-104.995496,39.725618,baker,1,0

In [42]:
crime.index.is_monotonic

False

In [12]:
%timeit crime.loc['2015-3-4':'2016-1-1']

18.5 ms ± 1.01 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [43]:
crime_sort.index.is_monotonic

True

In [13]:
crime_sort=crime.sort_index()
%timeit crime_sort.loc['2015-3-4':'2016-1-1']

1.97 ms ± 40.9 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [40]:
# unsorted data/sorted data performance comparison

In [41]:
18.5/1.97

9.390862944162437

In [15]:
crime=pd.read_hdf('data/crime.h5','crime').set_index('REPORTED_DATE')

In [16]:
type(crime.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [17]:
a=crime.between_time('02:00','05:00').shape[0]

In [18]:
cond = (crime.index.hour>=2) & (crime.index.hour<=5)

In [19]:
crime[cond].head()

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2014-06-29 02:01:00,traffic-accident-dui-duid,traffic-accident,-105.000149,39.745753,cbd,0,1
2014-06-29 02:00:00,disturbing-the-peace,public-disorder,-105.020719,39.706674,athmar-park,1,0
2014-06-29 02:18:00,curfew,public-disorder,-105.001552,39.769505,sunnyside,1,0
2014-06-29 04:17:00,aggravated-assault,aggravated-assault,-105.018557,39.679229,college-view-south-platte,1,0
2014-06-29 04:22:00,violation-of-restraining-order,all-other-crimes,-104.972447,39.739449,cheesman-park,1,0

In [20]:
b=crime[cond].shape[0]

In [21]:
a==b

False

In [22]:
crime.between_time('2:00','5:00').index.min()

Timestamp('2012-01-02 02:39:00')

In [23]:
crime[cond].index.min()

Timestamp('2012-01-02 02:39:00')

In [24]:
crime.between_time('2:00','5:00').index.max()

Timestamp('2017-09-29 04:12:00')

In [25]:
crime[cond].index.max()

Timestamp('2017-09-29 04:12:00')

In [26]:
crime.at_time('5:47').equals(crime[(crime.index.hour==5) & (crime.index.minute==47)])

True

In [27]:
len(crime.index.minute.unique().sort_values())

60

In [28]:
crime_sort=crime.sort_index()

In [29]:
crime_sort.first(pd.offsets.MonthBegin(6)).index.min(),crime_sort.first(pd.offsets.MonthBegin(6)).index.max()

(Timestamp('2012-01-02 00:06:00'), Timestamp('2012-07-01 00:01:00'))

In [30]:
crime_sort.first(pd.offsets.MonthBegin(6,True)).index.max() == crime_sort.first(pd.offsets.MonthBegin(6)).index[-1]

False

In [31]:
crime_sort.first(pd.offsets.MonthBegin(6,True)).index.max() == crime_sort.first(pd.offsets.MonthBegin(6)).index[-2]

True

In [50]:
crime_sort.first('5D').tail()

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2012-01-06 23:11:00,theft-items-from-vehicle,theft-from-motor-vehicle,-104.999752,39.726081,lincoln-park,1,0
2012-01-06 23:23:00,violation-of-restraining-order,all-other-crimes,-104.969588,39.681135,university,1,0
2012-01-06 23:30:00,assault-dv,other-crimes-against-persons,-104.958983,39.674135,university-park,1,0
2012-01-06 23:44:00,theft-of-motor-vehicle,auto-theft,-104.845356,39.794035,montbello,1,0
2012-01-06 23:55:00,threats-to-injure,public-disorder,-105.004788,39.708714,athmar-park,1,0

In [49]:
crime_sort.first('5B').tail()

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2012-01-08 23:46:00,theft-items-from-vehicle,theft-from-motor-vehicle,-104.991384,39.753888,five-points,1,0
2012-01-08 23:51:00,burglary-residence-no-force,burglary,-105.031781,39.747420,sloan-lake,1,0
2012-01-08 23:52:00,theft-other,larceny,-104.968227,39.739752,cheesman-park,1,0
2012-01-09 00:04:00,traffic-accident-hit-and-run,traffic-accident,-104.973343,39.760757,five-points,0,1
2012-01-09 00:05:00,fraud-criminal-impersonation,white-collar-crime,-105.024676,39.712702,valverde,1,0

In [51]:
crime_sort.first('7W').tail()

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2012-02-18 21:57:00,traffic-accident,traffic-accident,-104.974663,39.744041,north-capitol-hill,0,1
2012-02-18 22:19:00,criminal-mischief-graffiti,public-disorder,-104.957558,39.766129,clayton,1,0
2012-02-18 22:20:00,traffic-accident-dui-duid,traffic-accident,-104.919946,39.761917,north-park-hill,0,1
2012-02-18 22:44:00,criminal-mischief-mtr-veh,public-disorder,-105.044984,39.736776,west-colfax,1,0
2012-02-18 23:27:00,theft-items-from-vehicle,theft-from-motor-vehicle,-105.009018,39.708701,athmar-park,1,0

In [47]:
crime_sort.first('3QS').tail()

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2012-09-30 23:17:00,drug-hallucinogen-possess,drug-alcohol,-105.022715,39.678579,college-view-south-platte,1,0
2012-09-30 23:29:00,robbery-street,robbery,-104.977522,39.781310,globeville,1,0
2012-09-30 23:29:00,theft-of-motor-vehicle,auto-theft,-104.988838,39.686925,overland,1,0
2012-09-30 23:41:00,traffic-accident-hit-and-run,traffic-accident,-105.087598,39.638462,marston,0,1
2012-09-30 23:43:00,robbery-business,robbery,-104.772712,39.781966,gateway-green-valley-ranch,1,0

In [46]:
crime_sort.first('A').tail()

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2012-12-30 23:13:00,traffic-accident,traffic-accident,-104.973097,39.740032,capitol-hill,0,1
2012-12-30 23:14:00,burglary-residence-no-force,burglary,-104.960898,39.697153,washington-park,1,0
2012-12-30 23:39:00,theft-of-motor-vehicle,auto-theft,-105.002180,39.769714,sunnyside,1,0
2012-12-30 23:41:00,traffic-accident,traffic-accident,-105.024681,39.673642,college-view-south-platte,0,1
2012-12-31 00:05:00,assault-simple,other-crimes-against-persons,-104.985759,39.732297,capitol-hill,1,0

In [48]:
crime_sort.resample('W')['IS_CRIME'].count().to_frame().head()

               IS_CRIME
REPORTED_DATE
2012-01-08          877
2012-01-15         1071
2012-01-22          991
2012-01-29          988
2012-02-05          888