In [1]:
import pandas as pd
import numpy as np

In [2]:
crime_sort=pd.read_hdf('data/crime.h5','crime').set_index('REPORTED_DATE').sort_index()

In [3]:
crime_sort.index.is_monotonic_increasing

True

In [4]:
# grouping data by DateTimeIndex with .resample() method

In [5]:
crimes_weekly=crime_sort.resample('W').size()

In [6]:
crimes_weekly.idxmax()

Timestamp('2017-08-27 00:00:00', freq='W-SUN')

In [7]:
crimes_weekly.head()

REPORTED_DATE
2012-01-08     877
2012-01-15    1071
2012-01-22     991
2012-01-29     988
2012-02-05     888
Freq: W-SUN, dtype: int64

In [8]:
# replicating previous method with .groupby()

In [9]:
crimes_weekly_gb=crime_sort.groupby(pd.Grouper(freq='W')).size()

In [10]:
# proving equality of both methods

In [11]:
crimes_weekly.equals(crimes_weekly_gb)

True

In [12]:
# list of available .resample() methods and attributes

In [13]:
r=crime_sort.resample('W')

In [14]:
r_set=[method for method in dir(r) if method[0].islower()]

In [15]:
print(r_set)

['agg', 'aggregate', 'apply', 'asfreq', 'ax', 'backfill', 'bfill', 'count', 'ffill', 'fillna', 'first', 'get_group', 'groups', 'indices', 'interpolate', 'last', 'max', 'mean', 'median', 'min', 'ndim', 'nearest', 'ngroups', 'nunique', 'obj', 'ohlc', 'pad', 'pipe', 'plot', 'prod', 'quantile', 'sem', 'size', 'std', 'sum', 'transform', 'var']

In [20]:
# resampling/grouping with index not being Timestamp object

In [17]:
crime=pd.read_hdf('data/crime.h5','crime')

In [18]:
weekly_crimes=crime.resample('W',on='REPORTED_DATE').size()

In [21]:
weekly_crimes_gby=crime.groupby(pd.Grouper(key='REPORTED_DATE',freq='W')).size()

In [23]:
# asserting equivalence for given expressions

In [22]:
weekly_crimes.equals(weekly_crimes_gby)

True

In [24]:
# grouping quarterly/monthly/yearly

In [29]:
crime_sort=pd.read_hdf('data/crime.h5','crime').set_index('REPORTED_DATE').sort_index()

In [30]:
crime_quarterly=crime_sort.resample('Q')['IS_CRIME','IS_TRAFFIC'].sum()

In [31]:
crime_quarterly.head()

               IS_CRIME  IS_TRAFFIC
REPORTED_DATE
2012-03-31         7882        4726
2012-06-30         9641        5255
2012-09-30        10566        5003
2012-12-31         9197        4802
2013-03-31         8730        4442

In [33]:
crime_sort.resample('QS')['IS_CRIME','IS_TRAFFIC'].sum().head()

               IS_CRIME  IS_TRAFFIC
REPORTED_DATE
2012-01-01         7882        4726
2012-04-01         9641        5255
2012-07-01        10566        5003
2012-10-01         9197        4802
2013-01-01         8730        4442