In [1]:
import pandas as pd
import numpy as np

In [2]:
weight_loss=pd.read_csv('data/weight_loss.csv')
weight_loss.query("Month == 'Jan'")

  Name Month    Week  Weight
0  Bob   Jan  Week 1     291
1  Amy   Jan  Week 1     197
2  Bob   Jan  Week 2     288
3  Amy   Jan  Week 2     189
4  Bob   Jan  Week 3     283
5  Amy   Jan  Week 3     189
6  Bob   Jan  Week 4     283
7  Amy   Jan  Week 4     190

In [3]:
weight_loss.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 4 columns):
Name      32 non-null object
Month     32 non-null object
Week      32 non-null object
Weight    32 non-null int64
dtypes: int64(1), object(3)
memory usage: 1.1+ KB

In [4]:
def find_perc_loss(s):
    return (s-s.iloc[0])/s.iloc[0]

In [5]:
# weekly percentage loss for Bob in January

In [6]:
bob_jan=weight_loss.query("Month == 'Jan' and Name == 'Bob'")
find_perc_loss(bob_jan['Weight']).to_frame()

     Weight
0  0.000000
2 -0.010309
4 -0.027491
6 -0.027491

In [7]:
pcnt_loss=weight_loss.groupby(['Name','Month'])['Weight'].transform(find_perc_loss)
pcnt_loss.head()

0    0.000000
1    0.000000
2   -0.010309
3   -0.040609
4   -0.027491
Name: Weight, dtype: float64

In [19]:
weight_loss['Perc Weight Loss']=pcnt_loss.round(3)
weight_loss.head()

  Name Month    Week  Weight  Perc Weight Loss
0  Bob   Jan  Week 1     291             0.000
1  Amy   Jan  Week 1     197             0.000
2  Bob   Jan  Week 2     288            -0.010
3  Amy   Jan  Week 2     189            -0.041
4  Bob   Jan  Week 3     283            -0.027

In [20]:
# for defining a winner of competition, need to compare only last week of month

In [21]:
week4=weight_loss.query('Week == "Week 4"')
week4

   Name Month    Week  Weight  Perc Weight Loss
6   Bob   Jan  Week 4     283            -0.027
7   Amy   Jan  Week 4     190            -0.036
14  Bob   Feb  Week 4     268            -0.053
15  Amy   Feb  Week 4     173            -0.089
22  Bob   Mar  Week 4     261            -0.026
23  Amy   Mar  Week 4     170            -0.017
30  Bob   Apr  Week 4     250            -0.042
31  Amy   Apr  Week 4     161            -0.053

In [22]:
# redefining table with .pivot() method

In [23]:
winner=week4.pivot(index="Month",columns="Name",values="Perc Weight Loss")
winner

Name     Amy    Bob
Month
Apr   -0.053 -0.042
Feb   -0.089 -0.053
Jan   -0.036 -0.027
Mar   -0.017 -0.026

In [24]:
# making DataFrame index sorted by month

In [31]:
week4a=week4.copy()

In [33]:
month_chron=week4a.Month.unique()
month_chron

array(['Jan', 'Feb', 'Mar', 'Apr'], dtype=object)

In [34]:
week4a.Month=pd.Categorical(week4a.Month,month_chron,ordered=True)

In [36]:
week4a.Month.dtype

CategoricalDtype(categories=['Jan', 'Feb', 'Mar', 'Apr'], ordered=True)

In [37]:
winner2=week4a.pivot("Month","Name","Perc Weight Loss")
winner2

Name     Amy    Bob
Month
Jan   -0.036 -0.027
Feb   -0.089 -0.053
Mar   -0.017 -0.026
Apr   -0.053 -0.042

In [39]:
winner2['Winner']=np.where(winner2.Amy<winner2.Bob,'Amy','Bob')
winner2.style.highlight_min(axis=1,color="green")

In [40]:
winner2.Winner.value_counts()

Amy    3
Bob    1
Name: Winner, dtype: int64

In [42]:
# The winner of competition is:

In [41]:
winner2.Winner.value_counts().idxmax()

'Amy'